

body {
    border: 1px solid lightgrey;
    border-radius: 10px;
    height: 950px;
}

#control-div {
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}

#color-div {
    display: flex;
    height: 700px;
    width: 1900px;
}


#color-selector {
    height: 70px;
    width: 140px;
    border: 1px solid white;
    border-radius: 4px;
    margin-left: 20px;
}

#type-selector {
    background: white;
    height: 70px;
    width: 1200px;
    border: 1px solid lightgrey;
    border-radius: 9px;;
}

button {
    background: white;
    height: 70px;
    width: 300px;
    border: 1px solid lightgrey;
    border-radius: 9px;
    margin-right: 20px;
}



.special-div {
    width: 317px;
    height: 700px;
}


#hex-div {
    height: 100px;
    width: 1900px;
    display: flex;
    justify-content:space-around;
    align-items: center;
}